<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} Theater Project {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}master.css"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp">
    </script>
    {% block css_links %}

{#        Any extra CSS links that every page should use will go inside of this block.  #}
    {% endblock %}
</head>
<style>
    {% block page_style %}
{#        Any CSS that is specific only to the base page will go inside of this block.  #}

    {% endblock %}
</style>
</head>
<body style="background:#ecf0f1;">

<div class="container" style="background:white; padding-left:10px; padding-right:10px;">
    <div class="row" style="background:#27ae60; border-radius:5px; padding-left: 0 !important; padding-right: 0 !important;">
        <div class="col-xs-5 text-center" style="margin-top: 30px;">
            <img class="social-image" style="cursor:pointer;"  src="{{ STATIC_URL }}social-icons/twitter.png" height="32" width="32" alt=""/>
            <img class="social-image" style="cursor:pointer;" src="{{ STATIC_URL }}social-icons/facebook.png" height="32" width="32" alt=""/>
            <img class="social-image" style="cursor:pointer;" src="{{ STATIC_URL }}social-icons/youtube-2.png" height="32" width="32" alt=""/>
        </div>
        <div class="col-xs-2 text-center " style="color:white;">
            <h2 style="font-family: 'Open Sans', sans-serif !important; ">Sharkins Theatres</h2>
        </div>
        <div class="col-xs-5 text-center">
            <p style="margin-top:10px; color:white; cursor:pointer;"><span class="glyphicon-earphone glyphicon" style="margin-right:5px;"></span>1-999-555-5555</p>
            <div class="col-xs-6 col-xs-offset-3">
                            <select class="form-control movie-list" name="" id="" >
                                <option value="None" selected>Choose A Movie</option>
                                {% for movie in all_movies %}
                                    <option value="movie_{{ movie.id }}"   >{{ movie.title }}</option>
                                {% endfor %}
            </select>
            </div>

        </div>
    </div>
{#Navbar is below#}
    <nav class="navbar navbar-default navbar-inverse" style="margin-left: -11px; width:102%;">
  <div class="container-fluid" style="padding-left: 0 !important;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:0 !important;">
      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-link" id=""><a href="/" id="currentActive">Home <span class="sr-only">(current)</span></a></li>
        <li class="navbar-link"><a href="/showtimes">Showtimes</a></li>
        <li class="navbar-link"><a href="/movies">Movies</a></li>
        <li class="navbar-link"><a href="/events">Events</a></li>
        <li class="navbar-link"><a href="/store">Store</a></li>
        <li class="navbar-link"><a href="/team">Our Team</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
{% block content %}
{#        Any content specific to the base page (i.e. a navbar, footer, sidebar) should go in this area. #}

    {% endblock %}



<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
        {% block js %}

{#            Any JavaScript specific to this page will come here.  #}
        {% endblock %}
    </script>
<script>
    $(document).ready(function(){
        $('.movie-list').change(function() {
            if ($('.movie-list').val() != 'None'){
                console.log($('.movie-list').val())
                $('#myModal').modal('toggle');
                $('.' + $('.movie-list').val() +'').removeClass('hide');
               console.log($(this).find('option:selected').attr('class'));
            }
        })
        $('#myModal').on('hide.bs.modal', function () {
            $('.allMovies').addClass('hide');
        })


    });

</script>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        {% for movie in all_movies %}
            <div class="hide allMovies movie_{{ movie.id }}">
                <h2 >{{ movie.title }}</h2>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        {% if movie.thumbnail == "http://placehold.it/350x250" %}
                            <img src="http://placehold.it/350x250" class="img-responsive center-block" alt=""/>

                        {% endif %}
                        {% if movie.thumbnail != "http://placehold.it/350x250" %}

                            <img src="{{ STATIC_URL }}{{ movie.thumbnail }}" class="img-responsive center-block" height="200" width="200" alt=""/>
                        {% endif %}
                    </div>
                </div>
                <div class="text-center row" style="margin-top:10px;">
                    <div>{{ movie.description }}</div>
                </div>
            </div>

        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="window.location.href=('/showtimes')">Showtimes</button>
      </div>
    </div>
  </div>
</div>
</body>
<footer>
  <div class="row text-center">
      <br/>
      Copyright &copy; 2015 Sharkins Inc. All Rights Reserved. Proudly Powered by Sharkins design team
      <br/>
      <br/>
  </div>
</footer>
</html>