<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %} Theater Project {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}master.css"/>
    {% block css_links %}

{#        Any extra CSS links that every page should use will go inside of this block.  #}
    {% endblock %}
</head>
<style>
    {% block page_style %}
{#        Any CSS that is specific only to the base page will go inside of this block.  #}

    {% endblock %}
</style>
</head>
<body style="background:#ecf0f1;">

<div class="container" style="background:white; padding-left:10px; padding-right:10px;">
    <div class="row" style="background:#27ae60; border-radius:5px; padding-left: 0 !important; padding-right: 0 !important;">
        <div class="col-xs-5 text-center" style="margin-top: 30px;">
            <img class="social-image"  src="{{ STATIC_URL }}social-icons/twitter.png" height="32" width="32" alt=""/>
            <img class="social-image" src="{{ STATIC_URL }}social-icons/facebook.png" height="32" width="32" alt=""/>
        </div>
        <div class="col-xs-2 text-center " style="color:white;">
            <h2>Sharkins Theatres</h2>
        </div>
        <div class="col-xs-5 text-center">
            <p style="margin-top:10px; color:white;"><span class="glyphicon-earphone glyphicon"></span>1-999-555-5555</p>
            <div class="col-xs-6 col-xs-offset-3">
                            <select class="form-control" name="" id="">
                <option value="None" selected>Choose A Movie</option>
                                {% for movie in all_movies %}
                                    <option value="{{ movie.title }}">{{ movie.title }}</option>
                                {% endfor %}
            </select>
            </div>

        </div>
    </div>
    <nav class="navbar navbar-default navbar-inverse" style="margin-left: -11px; width:102%;">
  <div class="container-fluid" style="padding-left: 0 !important;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding-left:0 !important;">
      <ul class="nav navbar-nav navbar-left">
        <li class="active" id=""><a href="#" id="currentActive">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/showtimes">Showtimes</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/store">Store</a></li>
        <li><a href="/team">Our Team</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

    {% block content %}
{#        Any content specific to the base page (i.e. a navbar, footer, sidebar) should go in this area. #}

    {% endblock %}



<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script>
        {% block js %}

{#            Any JavaScript specific to this page will come here.  #}
        {% endblock %}
    </script>
</body>
</html>