{% extends "base.html" %}

{% block page_style %}

.page-header {
	border-bottom: none;
}

{% endblock %}

{% block content %}
    <div class="container" style="background:white; border-radius:5px;">
        <h2 style="font-family: 'Open Sans', sans-serif !important; ">Upcoming Events</h2>
          <hr/>
        {% for event in all_events %}
            <div class="row">
                <div class="col-md-4 col-xs-12 text-center">
                    <h3 style="font-weight:600 !important;">{{ event.title }}</h3>
                    <img src="{{ STATIC_URL }}{{ event.image }}" style="max-height:200px; max-width:200px;" class="img-responsive center-block" alt=""/>
                </div>
                <div class="col-md-6 col-xs-12">
                    <p style="margin-top: 25px; font-family: 'Open Sans', sans-serif !important;">{{ event.descr }}</p>
                    <h5 style="font-weight:bold !important;">{{ event.date }}</h5>
                </div>
            </div>
            <hr/>
        {% endfor %}
    <div class="footer-push" style="margin-bottom:30px;"></div>
    </div>
{% endblock %}

{% block js %}
{#    Insert any JavaScript here         #}
{% endblock %}
