{% extends "base.html" %}

{% block page_style %}
{#    Any CSS specific to this page will go inside of this block.   #}

{% endblock %}

{% block content %}
{#    Any content associated with the page will go inside of this block.    #}
    <div class="container" style="background:white; border-radius:5px;">
        <h2 style="font-family: 'Open Sans', sans-serif !important; ">Current Showtimes</h2>
        <hr/>
            {% for movie in all_movies %}

                <div class="row" style="margin-bottom:30px;">
                    <div class="col-xs-3 text-center">
                        <img src="{{ STATIC_URL }}{{ movie.thumbnail }}" class="img-responsive center-block" alt=""/>
                        <a style="margin-top:10px;" class="btn-primary btn " href="/movies">Movie Details</a>
                    </div>
                    <div class="col-xs-6">
                        <h3 style="font-weight:800;">{{ movie.title }} <span style="font-weight:normal !important; font-size:20px;">{{ movie.rating}}</span> <span style="font-weight:normal !important; font-size:17px !important;">({{ movie.duration }} mins)</span></h3>
                        {% for info in all_times %}
                            {% if info.title == movie.title %}
                                <a href="#" style="font-size:20px;">{{ info.time }}</a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <hr/>
        {% endfor %}
    </div>

{% endblock %}

{% block js %}
{#    Insert any JavaScript here         #}
{% endblock %}