{% extends "base.html" %}

{% block page_style %}

<style>

body 
{
	background-color:#fff;
	height: 100%;
}

h1 {
	color: #000;
	font-size: 30px;
	margin: 30px 0 0 0;
	padding: 10px 0 10px 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: inherit;
	text-align: center;
}

.thumb-header {
	color: #000;
	font-size: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	/*text-align: left;*/ /*disabled to default to text-center*/
}

.content { 
   font-family: Courier;
   font-size: 16px;
   color: black;
}

</style>
{% endblock %}

{% block content %}

<div class= "container" style="background: white!important;">
	<div class="row " >
		<h2 class="intro-text text-center">Our Team Members</h2>
		<div class="col-sm-4 text-center" >
			<div class="col-sm-12 text-center" >
				<div class="thumbnail" style="background:#ecf0f1;">
					<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics\David.png" alt= "">
					<h2 class="thumb-header">Duke Ayers</h2>
					<p style="font-weight:bold;">Title</p>
					<p style="text-align:left">Description</p>                    
				</div>
			</div>
			<div class="col-sm-12 text-center">
	
				<div class="thumbnail" style="background:#ecf0f1;">
					<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics\David.png" alt= "">
					<h2 class="thumb-header">Nancy McCollough</h2>
					<p style="font-weight:bold;">Title</p>
					<p style="text-align:left">Description</p>                    
				</div>
			</div>
		</div>

		<div class="col-sm-4 text-center">
			<div class="col-sm-12 text-center">
				<div class="thumbnail" style="background:#ecf0f1;">
					<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics/David.png" alt= "">
					<h2 class="thumb-header">David Miller</h2>
					<p style="font-weight:bold;">Snack Strategist</p>
					<p >Nobody can strategize a course of snacking like our expert Snack Strategist. If you need help strategizing your movie snack, you can count on David to strategically predict the most enjoyable 	snack for your movie. </p>
				</div>
 			</div>

			<div class="col-sm-12 text-center">
				<div class="thumbnail" style="background:#ecf0f1;">
					<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics/Leah.png" alt= "">
					<h2 class="thumb-header">Leah Kalush</h2>
					<p style="font-weight:bold;">Customer Service, Horror Expert</p>
					<p>An avid movie enthusiast and a specialist in the horror genre, Leah is willing and happy to help out with any concerns. Whether your popcorn is stale or you're looking to purchase a gift card, 	she is here to help with all matters.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 text-center">
			<div class="col-sm-12 text-center">
				<div class="thumbnail" style="background:#ecf0f1;">
					<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics/Abdulaziz.jpg" alt= "">
					<h2 class="thumb-header">Abdulaziz Alhawas</h2>
					<p style="font-weight:bold;">Critic, Expert</p>
					<p style="text-align:left">Abdulaziz is a movie expert. He has been reviewing and rating movies for ten years. Sharkins Theatre haired him to benefit from his amazing experience and to help them decide on what movies to show every week. </p>                    
				</div>
			</div>
		<div class="col-sm-12 text-center">
			<div class="thumbnail" style="background:#ecf0f1;">
				<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics\David.png" alt= "">
					<h2 class="thumb-header">Dr. James Palmer</h2>
					<p style="font-weight:bold;">Title</p>
					<p style="text-align:left">Description</p>                    
				</div>   
			</div>
		</div>
     
		<div class="clearfix"></div>

		<h1 class="intro-text text-center">Now Hiring!</h1>
		<h2 class="intro-text text-center">Would you like to join our friendly family?  Contact ...</h2>
	</div>
   
</div>

{% endblock %}

{% block js %}
{#    Insert any JavaScript here         #}
{% endblock %}
