{% extends "base.html" %}

{% block page_style %}

<style>

body 
{
	background-color:#fff;
	height: 100%;
}

h1 {
	color: #000;
	font-size: 30px;
	margin: 30px 0 0 0;
	padding: 10px 0 10px 0;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-color: inherit;
	text-align: center;
}

.thumb-header {
	color: #000;
	font-size: 20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	/*text-align: left;*/ /*disabled to default to text-center*/
}

.content { 
   font-family: Courier;
   font-size: 16px;
   color: black;
}

</style>
{% endblock %}

{% block content %}

<div class= "container" style="background: white!important;">
		<h2 style="font-family: 'Open Sans', sans-serif !important;" >Our Team Members</h2>
        <hr/>
	<div class="row " >

		<div class="col-sm-4 text-center" >
			<div class="col-sm-12 text-center" >
				<div class="thumbnail" style="background:#ecf0f1;">
					<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics\Duke.jpg" alt= "">
					<h2 class="thumb-header">Duke Ayers</h2>
					<p style="font-weight:bold;">Title Giver</p>
					<p>Duke actually has no idea how he even got here. There was a payroll glitch back 2004, which provided him with a paycheck whether he was actually working or not. He is just living the free life... </p>
				</div>
			</div>
			<div class="col-sm-12 text-center">
	
				<div class="thumbnail" style="background:#ecf0f1;">
					<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics/Nancy.jpg" alt= "">
					<h2 class="thumb-header">Nancy McCollough</h2>
					<p style="font-weight:bold;">Oscar Visionary, Clean Up</p>
					<p>Nancy was hired on after crashing the theater's Oscar Party and knowing who would win every category. Everyone was so impressed! Unfortunately, Nancy doesn't have many other skills, so she mostly cleans up after the moviegoers.</p>                    
				</div>
			</div>
		</div>

		<div class="col-sm-4 text-center">
			<div class="col-sm-12 text-center">
				<div class="thumbnail" style="background:#ecf0f1;">
					<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics/David.png" alt= "">
					<h2 class="thumb-header">David Miller</h2>
					<p style="font-weight:bold;">Snack Strategist</p>
					<p >Nobody can strategize a course of snacking like our expert Snack Strategist. If you need help strategizing your movie snack, you can count on David to strategically predict the most enjoyable 	snack for your movie. </p>
				</div>
 			</div>

			<div class="col-sm-12 text-center">
				<div class="thumbnail" style="background:#ecf0f1;">
					<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics/Leah.png" alt= "">
					<h2 class="thumb-header">Leah Kalush</h2>
					<p style="font-weight:bold;">Customer Service, Horror Expert</p>
					<p>An avid movie enthusiast and a specialist in the horror genre, Leah is willing and happy to help out with any concerns. Whether your popcorn is stale or you're looking to purchase a gift card, 	she is here to help with all matters.</p>
				</div>
			</div>
		</div>

		<div class="col-sm-4 text-center">
			<div class="col-sm-12 text-center">
				<div class="thumbnail" style="background:#ecf0f1;">
					<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="{{ STATIC_URL }}ProfilePics/Abdulaziz.jpg" alt= "">
					<h2 class="thumb-header">Abdulaziz Alhawas</h2>
					<p style="font-weight:bold;">Critic, Expert</p>
					<p>Abdulaziz is a movie expert. He has been reviewing and rating movies for ten years. Sharkins Theatre haired him to benefit from his amazing experience and to help them decide on what movies to show every week. </p>                    
				</div>
			</div>
		<div class="col-sm-12 text-center">
			<div class="thumbnail" style="background:#ecf0f1;">
				<img class="img-responsive" style="margin-top: 20px; height: 150px;" src="http://placehold.it/200x150" alt= "">
					<h2 class="thumb-header">Dr. James Palmer</h2>
					<p style="font-weight:bold;">Crime Scene Decontamination</p>
					<p>Violent crime has never happened in our theater, but if it does, you can be sure that we're prepared to sanitize any surface that becomes soiled at a moment's notice. Our in-house decontamination specialist also cleans your seats weekly to ensure the highest quality of comfort during the films you enjoy.</p>                    
				</div>   
			</div>
		</div>
     
		<div class="clearfix"></div>

		<h1 class="intro-text text-center">Now Hiring!</h1>
		<h2 class="intro-text text-center">Would you like to join our friendly family?  Contact 1-800-THE-SHKN</h2>
	</div>
   
</div>

{% endblock %}

{% block js %}
{#    Insert any JavaScript here         #}
{% endblock %}
